/* resets */

body,
h1,
p,
h2,
ul,
img {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}
h1 {
  margin-left: 20px;
  padding: 10px;
}

.nav-list {
  display: flex;
  margin-right: 20px;
}

.nav-list li {
  padding: 20px;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  background-color: yellow;
  width: 100%;
  text-align: center;
}
.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
}

.menu-container li {
  border: 1px dashed black;
  text-align: center;
  box-sizing: border-box;
  padding: 2px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.openCart {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
} */
.modal {
  display: none;
  text-align: center;
  position: absolute;
  /* float: left; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  background-color: #f4f4f4;
  padding: 20px;
  width: 100vh;
  height: 50vh;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.3);
}

.cart {
  /* width: 25%; */
}

.closeCart {
  color: black;
  float: right;
  font-size: 30px;
}

.closeCart:hover,
.closeCart:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
