/* resets */

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}
h1 {
  margin-left: 20px;
  padding: 10px;
}
.nav-list {
  display: flex;
  margin-right: 20px;
}
li {
  padding: 10px;
}
a {
  text-decoration: none;
  list-style: none;
}
