body,
h1,
p,
h2,
ul,
img {
  margin: 0;
  padding: 0;
}

.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 15px;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}
.brand {
  padding: 10px;
  color: white;
  font-family: "Italiana", serif;
  padding: 10px;
}

.nav-list {
  display: flex;
  margin-right: 20px;
  list-style: none;
  color: white;
  font-family: "Italiana", serif;
}

.nav-list li {
  padding: 20px;
}
.nav-list li a {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  /* background-color: yellow; */
  width: 100%;
  text-align: center;
  font-family: "Italiana", serif;
  size: 35px;
  border-bottom: 1px solid gray;
}
.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
}

.menu-container li {
  /* border: 1px dashed black; */
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.openCart {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
} */
.modal {
  display: none;
  text-align: center;
  position: absolute;
  /* float: left; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
}

.modal-content {
  background-color: #f4f4f4;
  padding: 20px;
  width: 80vh;
  height: 80vh;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.3);
  /* overflow-y: initial; */
}
.closeCart {
  color: black;
  float: right;
  font-size: 30px;
}

.closeCart:hover,
.closeCart:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.cart {
  list-style: none;
  /* display: flex;
  flex-direction: row; */
  justify-content: space-around;
  flex-wrap: wrap;
  height: 60vh;
  overflow-y: auto;
}

.cart li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20vh;
}

.cart img {
  height: 100px;
  border-radius: 5%;
  width: 15vh;
}

.cartModal .modal-content .ul {
  background-color: #fed9ff;
  width: 80vh;
  height: 40vh;
  overflow: auto;
  text-align: justify;
  padding: 20px;
}

.viewcart {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
